# Berkeley Earth

https://berkeleyearth.org/data

In [ ]:
! wget https://storage.googleapis.com/berkeley-earth-temperature-hr/global/gridded/Global_TAVG_Gridded_1deg.nc

--2025-11-07 05:27:28--  https://storage.googleapis.com/berkeley-earth-temperature-hr/global/gridded/Global_TAVG_Gridded_1deg.nc
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.204.207, 64.233.187.207, 64.233.188.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.204.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 424020750 (404M) [application/x-netcdf]
Saving to: ‘Global_TAVG_Gridded_1deg.nc’

Global_TAVG_Gridded 100%[===================>] 404.38M  19.6MB/s    in 20s

2025-11-07 05:27:49 (19.7 MB/s) - ‘Global_TAVG_Gridded_1deg.nc’ saved [424020750/424020750]

In [ ]:
import xarray as xr
import pandas as pd

# Open the NetCDF file
ds = xr.open_dataset("Global_TAVG_Gridded_1deg.nc")

# Inspect the dataset structure
print(ds)

ds_slice = ds.sel(time=slice("2000-01-01", "2001-12-31"))
df = ds_slice.to_dataframe().reset_index()
df

<xarray.Dataset> Size: 551MB
Dimensions:       (latitude: 180, longitude: 360, time: 2109, month_number: 12)
Coordinates:
  * latitude      (latitude) float32 720B -89.5 -88.5 -87.5 ... 87.5 88.5 89.5
  * longitude     (longitude) float32 1kB -179.5 -178.5 -177.5 ... 178.5 179.5
  * time          (time) float64 17kB 1.85e+03 1.85e+03 ... 2.026e+03 2.026e+03
Dimensions without coordinates: month_number
Data variables:
    land_mask     (latitude, longitude) float64 518kB ...
    areal_weight  (latitude, longitude) float64 518kB ...
    temperature   (time, latitude, longitude) float32 547MB ...
    climatology   (month_number, latitude, longitude) float32 3MB ...
Attributes:
    Conventions:                 Berkeley Earth Internal Convention (based on...
    title:                       Berkeley Earth Surface Temperature Anomaly F...
    file_creation:               16-Oct-2025 07:42:44
    institution:                 Berkeley Earth
    land_source_analysis_date:   12-Oct-2025 17:02:57
    ocean_source_analysis_date:  23-Sep-2025 13:30:23
    comment:                     This file contains surface temperature anoma...

,latitude,longitude,time,month_number,land_mask,areal_weight,temperature,climatology
0,-89.5,-179.5,2000.041667,0,1.0,0.011453,-1.837232,-28.620911
1,-89.5,-179.5,2000.041667,1,1.0,0.011453,-1.837232,-40.596695
2,-89.5,-179.5,2000.041667,2,1.0,0.011453,-1.837232,-53.354851
3,-89.5,-179.5,2000.041667,3,1.0,0.011453,-1.837232,-56.866531
4,-89.5,-179.5,2000.041667,4,1.0,0.011453,-1.837232,-57.438419
...,...,...,...,...,...,...,...,...
9331195,89.5,179.5,2000.958333,7,0.0,0.011453,3.151309,-2.720587
9331196,89.5,179.5,2000.958333,8,0.0,0.011453,3.151309,-9.269538
9331197,89.5,179.5,2000.958333,9,0.0,0.011453,3.151309,-18.851944
9331198,89.5,179.5,2000.958333,10,0.0,0.011453,3.151309,-26.528584
9331199,89.5,179.5,2000.958333,11,0.0,0.011453,3.151309,-29.789770

# ClimateBench

https://github.com/duncanwp/ClimateBench

In [ ]:
! wget https://zenodo.org/records/7064308/files/train_val.tar.gz

--2025-11-07 05:38:11--  https://zenodo.org/records/7064308/files/train_val.tar.gz?download=1
Resolving zenodo.org (zenodo.org)... 188.185.48.75, 137.138.52.235, 188.185.43.153, ...
Connecting to zenodo.org (zenodo.org)|188.185.48.75|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 839129430 (800M) [application/octet-stream]
Saving to: ‘train_val.tar.gz?download=1’

train_val.tar.gz?do 100%[===================>] 800.26M  1.95MB/s    in 8m 42s

2025-11-07 05:46:59 (1.53 MB/s) - ‘train_val.tar.gz?download=1’ saved [839129430/839129430]

In [ ]:
! tar -xzvf train_val.tar.gz

inputs_1pctCO2.nc
inputs_abrupt-4xCO2.nc
inputs_historical.nc
inputs_hist-GHG.nc
inputs_hist-aer.nc
inputs_ssp126.nc
inputs_ssp370.nc
inputs_ssp370-lowNTCF.nc
inputs_ssp585.nc
outputs_1pctCO2.nc
outputs_abrupt-4xCO2.nc
outputs_historical.nc
outputs_piControl.nc
outputs_hist-GHG.nc
outputs_hist-aer.nc
outputs_ssp126.nc
outputs_ssp370.nc
outputs_ssp370-lowNTCF.nc
outputs_ssp585.nc

In [ ]:
import xarray as xr
import pandas as pd

# Open the NetCDF file
ds = xr.open_dataset("inputs_historical.nc")

# Inspect the dataset structure
print(ds)

# ds_slice = ds.sel(time=slice("2000-01-01", "2001-12-31"))
df = ds.to_dataframe().reset_index()
df

<xarray.Dataset> Size: 37MB
Dimensions:    (time: 165, latitude: 96, longitude: 144)
Coordinates:
  * time       (time) int64 1kB 1850 1851 1852 1853 1854 ... 2011 2012 2013 2014
  * latitude   (latitude) float64 768B -90.0 -88.11 -86.21 ... 86.21 88.11 90.0
  * longitude  (longitude) float64 1kB 0.0 2.5 5.0 7.5 ... 352.5 355.0 357.5
Data variables:
    CO2        (time) float64 1kB ...
    SO2        (time, latitude, longitude) float64 18MB ...
    CH4        (time) float64 1kB ...
    BC         (time, latitude, longitude) float64 18MB ...

,time,latitude,longitude,CO2,SO2,CH4,BC
0,1850,-90.0,0.0,0.188297,0.000000e+00,0.031306,0.000000e+00
1,1850,-90.0,2.5,0.188297,0.000000e+00,0.031306,0.000000e+00
2,1850,-90.0,5.0,0.188297,0.000000e+00,0.031306,0.000000e+00
3,1850,-90.0,7.5,0.188297,0.000000e+00,0.031306,0.000000e+00
4,1850,-90.0,10.0,0.188297,0.000000e+00,0.031306,0.000000e+00
...,...,...,...,...,...,...,...
2280955,2014,90.0,347.5,1500.435772,0.000000e+00,0.371205,0.000000e+00
2280956,2014,90.0,350.0,1500.435772,9.325251e-14,0.371205,1.664935e-15
2280957,2014,90.0,352.5,1500.435772,3.668627e-14,0.371205,6.549988e-16
2280958,2014,90.0,355.0,1500.435772,0.000000e+00,0.371205,0.000000e+00
2280959,2014,90.0,357.5,1500.435772,2.124214e-14,0.371205,3.792585e-16

# The Global Fire Atlas of individual fire size, duration, speed and direction
https://essd.copernicus.org/articles/11/529/2019/

In [ ]:
! pip install boto3 --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.4/139.4 kB 3.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.1/14.1 MB 117.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.7/85.7 kB 5.6 MB/s eta 0:00:00

In [ ]:
# import boto3

# credentials = {
#     "accessKeyId": "ASIATDFCZRUYWTJYKDSI",
#     "secretAccessKey": "JS47oiOUBdIwXuSoM6WasQFtpeDbDqzQ0fYj0mJZ",
#     "sessionToken": "IQoJb3JpZ2luX2VjEO7//////////wEaCXVzLXdlc3QtMiJHMEUCIQCdzCKzZe+mtX/VioyDVmnkKJxtX1FBWPwmqgxhHjOhEwIgc4LtVRZmpuSCW4aqOhEbL002nCRr2pL9KeKj3gRZPfgqzwIIt///////////ARADGgwyMTI5NDIyOTQzMjEiDOQccJPiYYZ8a78JASqjAsloqWZvq1476B0RFoIruAaCa2gv+UF+OhaPngpWQHhOCueVRGJaLquLD7cWllPFZLajBZ+zd5rI7qz1FNutsxgrRqzub3xeCBXoIODdc3BUjfhX9x5NFwURqgNlq7/WsIsV/Wv9uBbfsrYl8yAm+qdMNFneHiYh99kmN1VjgdskeWq3Qhko/qtHFuZ+qCfswOA7mf7PynHow7P9jxpgSBrPGNMggqlnogrVCse9gYfsnl/GTUIO3KGoUyrZmGMsHGuEiTBgIo1hUnVJ/Jkr4E4k3F2afpIOE/ROD+zKp+t8t8tWAmNODZlluV2PfzfQgNkbkqLPlZM7A5020BosdMZlwwEYPWVGCrtPS6nEremdQKYKXgCQSMmjSTpoqCOXL/NqnzDCkrbIBjqdARVTt0U0OthPZXNFI2QaXiYaOa8O1l4CPRzQPT1hqHWvhCtuvqIdlLLOAIurRmbs3I8n/i3burjQrirb+8z3Q+9E82RRsGJs6pbDXO2eeJL6VWeM6zn4VaWcUUt3k1+5PDjvkJGk2DQ0Mtcan+iWmRqizOoJfanz9k2kdcFmZNA7WkKx8X55ptOMiGDk2mc5dp/oJ/uQL3FppdY+sxs=",
#     "expiration": "2025-11-07 06:53:06+00:00",
# }

# session = boto3.Session(
#     aws_access_key_id=credentials["accessKeyId"],
#     aws_secret_access_key=credentials["secretAccessKey"],
#     aws_session_token=credentials["sessionToken"],
#     region_name="us-west-2",
# )

# s3 = session.client("s3")

# # Download file
# # Download the file
# bucket = "ornl-cumulus-prod-protected"
# key = "cms/CMS_Global_Fire_Atlas/data/Global_fire_atlas_V1_perimeter_2016.zip"
# s3.download_file(bucket, key, "Global_fire_atlas_V1_perimeter_2016.zip")

# print("Download complete!")

In [ ]:
! wget https://datasets-and-checkpoints.s3.us-east-1.amazonaws.com/Global_fire_atlas_V1_perimeter_2016.zip

--2025-11-07 06:32:01--  https://datasets-and-checkpoints.s3.us-east-1.amazonaws.com/Global_fire_atlas_V1_perimeter_2016.zip
Resolving datasets-and-checkpoints.s3.us-east-1.amazonaws.com (datasets-and-checkpoints.s3.us-east-1.amazonaws.com)... 16.15.202.233, 54.231.224.130, 52.216.210.170, ...
Connecting to datasets-and-checkpoints.s3.us-east-1.amazonaws.com (datasets-and-checkpoints.s3.us-east-1.amazonaws.com)|16.15.202.233|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 123696783 (118M) [application/zip]
Saving to: ‘Global_fire_atlas_V1_perimeter_2016.zip’

Global_fire_atlas_V 100%[===================>] 117.97M  21.4MB/s    in 6.7s

2025-11-07 06:32:09 (17.5 MB/s) - ‘Global_fire_atlas_V1_perimeter_2016.zip’ saved [123696783/123696783]

In [ ]:
! unzip Global_fire_atlas_V1_perimeter_2016.zip

Archive:  Global_fire_atlas_V1_perimeter_2016.zip
  inflating: Global_fire_atlas_V1_perimeter_2016.dbf
  inflating: Global_fire_atlas_V1_perimeter_2016.prj
  inflating: Global_fire_atlas_V1_perimeter_2016.shp
  inflating: Global_fire_atlas_V1_perimeter_2016.shx

In [ ]:
import geopandas as gpd

# Read the shapefile
gdf = gpd.read_file("Global_fire_atlas_V1_perimeter_2016.shp")

/usr/local/lib/python3.12/dist-packages/pyogrio/raw.py:198: RuntimeWarning: Global_fire_atlas_V1_perimeter_2016.shp contains polygon(s) with rings with invalid winding order. Autocorrecting them, but that shapefile should be corrected using ogr2ogr for example.
  return ogr_read(

In [ ]:
print(gdf.columns)
print(gdf.shape)
gdf.head()

Index(['fire_ID', 'lat', 'lon', 'size', 'perimeter', 'start_date', 'start_DOY',
       'end_date', 'end_DOY', 'duration', 'expansion', 'fire_line', 'speed',
       'direction', 'direction_s', 'landcover', 'landcover_s', 'tile_ID',
       'geometry'],
      dtype='object')
(887251, 19)

,fire_ID,lat,lon,size,perimeter,start_date,start_DOY,end_date,end_DOY,duration,expansion,fire_line,speed,direction,direction_s,landcover,landcover_s,tile_ID,geometry
0,1,20.8438,-156.412,0.86,4.63,2016-10-26,300,2016-11-02,307,8,0.11,0.23,0.37,3,east,12,Croplands,h03v06,"POLYGON ((-156.41809 20.84583, -156.40917 20.8..."
1,2,20.8396,-156.416,1.50,6.48,2016-10-28,302,2016-11-02,307,6,0.25,0.54,0.57,4,southeast,12,Croplands,h03v06,"POLYGON ((-156.42268 20.84167, -156.41822 20.8..."
2,3,20.8104,-156.435,0.43,2.78,2016-11-29,334,2016-11-29,334,1,0.43,0.93,0.46,0,none,12,Croplands,h03v06,"POLYGON ((-156.44142 20.8125, -156.43251 20.81..."
3,4,20.6271,-156.246,18.65,30.56,2016-02-16,47,2016-02-20,51,5,3.73,6.20,2.68,8,northwest,7,Open shrublands,h03v06,"POLYGON ((-156.27803 20.65, -156.26912 20.65, ..."
4,5,19.8062,-155.893,7.72,12.96,2016-03-20,80,2016-03-25,85,6,1.29,2.47,1.39,4,southeast,7,Open shrublands,h03v07,"POLYGON ((-155.90819 19.80833, -155.88604 19.8..."

In [ ]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

# Base de datos biogeográfica del Fondo de Investigación Pesquera y de Acuicultura, Subsecretaría de Pesca y Acuicultura

https://www.gbif.org/dataset/9f094ddc-68f9-426b-91f2-4c6f34298b34

In [ ]:
! wget https://api.gbif.org/v1/occurrence/download/request/0020904-251025141854904.zip

--2025-11-07 07:21:01--  https://api.gbif.org/v1/occurrence/download/request/0020904-251025141854904.zip
Resolving api.gbif.org (api.gbif.org)... 130.225.43.2
Connecting to api.gbif.org (api.gbif.org)|130.225.43.2|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://occurrence-download.gbif.org/occurrence/download/request/0020904-251025141854904.zip [following]
--2025-11-07 07:21:02--  https://occurrence-download.gbif.org/occurrence/download/request/0020904-251025141854904.zip
Resolving occurrence-download.gbif.org (occurrence-download.gbif.org)... 130.225.43.36
Connecting to occurrence-download.gbif.org (occurrence-download.gbif.org)|130.225.43.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/octet-stream]
Saving to: ‘0020904-251025141854904.zip’

0020904-25102514185     [              <=>   ] 167.04M  12.9MB/s    in 15s

2025-11-07 07:21:18 (11.2 MB/s) - ‘0020904-251025141854904.zip’ saved [175155444]

In [ ]:
! unzip 0020904-251025141854904.zip

Archive:  0020904-251025141854904.zip
  inflating: 0020904-251025141854904.csv

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

df = pd.read_csv("0020904-251025141854904.csv", sep="\t")
print(df.shape)
df.head()

/tmp/ipython-input-2829129759.py:4: DtypeWarning: Columns (10,16,17,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("0020904-251025141854904.csv", sep="\t")

(3555651, 50)

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,infraspecificEpithet,taxonRank,scientificName,verbatimScientificName,verbatimScientificNameAuthorship,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,4123609367,9f094ddc-68f9-426b-91f2-4c6f34298b34,ACU_0364749.1,Animalia,Chordata,NaN,Beryciformes,Trachichthyidae,Hoplostethus,Hoplostethus atlanticus,NaN,SPECIES,"Hoplostethus atlanticus Collett, 1889",Hoplostethus atlanticus,"Collett, 1889",CL,NaN,NaN,PRESENT,NaN,e9f60bdb-217d-4b4e-a22a-2781321220a1,-33.3712,-77.4168,NaN,NaN,NaN,NaN,NaN,NaN,2006-08-23,23.0,8.0,2006.0,2357093,2357093.0,MACHINE_OBSERVATION,Universidad Austral de Chile,NaN,NaN,NaN,NaN,NaN,CC_BY_4_0,NaN,NaN,NaN,NaN,2025-10-07T15:09:27.463Z,NaN,OCCURRENCE_STATUS_UNPARSABLE;FOOTPRINT_WKT_INV...
1,4123727240,9f094ddc-68f9-426b-91f2-4c6f34298b34,ACU_0365005.1,Animalia,Chordata,NaN,Beryciformes,Trachichthyidae,Hoplostethus,Hoplostethus atlanticus,NaN,SPECIES,"Hoplostethus atlanticus Collett, 1889",Hoplostethus atlanticus,"Collett, 1889",CL,NaN,NaN,PRESENT,NaN,e9f60bdb-217d-4b4e-a22a-2781321220a1,-33.4031,-77.4137,NaN,NaN,NaN,NaN,NaN,NaN,2006-08-04,4.0,8.0,2006.0,2357093,2357093.0,MACHINE_OBSERVATION,Universidad Austral de Chile,NaN,NaN,NaN,NaN,NaN,CC_BY_4_0,NaN,NaN,NaN,NaN,2025-10-07T15:09:27.463Z,NaN,OCCURRENCE_STATUS_UNPARSABLE;RECORDED_DATE_INV...
2,4123609398,9f094ddc-68f9-426b-91f2-4c6f34298b34,ACU_0365294.1,Animalia,Chordata,NaN,Beryciformes,Trachichthyidae,Hoplostethus,Hoplostethus atlanticus,NaN,SPECIES,"Hoplostethus atlanticus Collett, 1889",Hoplostethus atlanticus,"Collett, 1889",CL,NaN,NaN,PRESENT,NaN,e9f60bdb-217d-4b4e-a22a-2781321220a1,-33.3595,-77.4058,NaN,NaN,NaN,NaN,NaN,NaN,2006-08-23,23.0,8.0,2006.0,2357093,2357093.0,MACHINE_OBSERVATION,Universidad Austral de Chile,NaN,NaN,NaN,NaN,NaN,CC_BY_4_0,NaN,NaN,NaN,NaN,2025-10-07T15:09:27.463Z,NaN,OCCURRENCE_STATUS_UNPARSABLE;FOOTPRINT_WKT_INV...
3,4123727270,9f094ddc-68f9-426b-91f2-4c6f34298b34,ACU_0365456.1,Animalia,Chordata,NaN,Beryciformes,Trachichthyidae,Hoplostethus,Hoplostethus atlanticus,NaN,SPECIES,"Hoplostethus atlanticus Collett, 1889",Hoplostethus atlanticus,"Collett, 1889",CL,NaN,NaN,PRESENT,NaN,e9f60bdb-217d-4b4e-a22a-2781321220a1,-33.3984,-77.4026,NaN,NaN,NaN,NaN,NaN,NaN,2006-08-23,23.0,8.0,2006.0,2357093,2357093.0,MACHINE_OBSERVATION,Universidad Austral de Chile,NaN,NaN,NaN,NaN,NaN,CC_BY_4_0,NaN,NaN,NaN,NaN,2025-10-07T15:09:27.463Z,NaN,OCCURRENCE_STATUS_UNPARSABLE;FOOTPRINT_WKT_INV...
4,4123727274,9f094ddc-68f9-426b-91f2-4c6f34298b34,ACU_0365500.1,Animalia,Chordata,NaN,Beryciformes,Trachichthyidae,Hoplostethus,Hoplostethus atlanticus,NaN,SPECIES,"Hoplostethus atlanticus Collett, 1889",Hoplostethus atlanticus,"Collett, 1889",CL,NaN,NaN,PRESENT,NaN,e9f60bdb-217d-4b4e-a22a-2781321220a1,-33.4217,-77.4021,NaN,NaN,NaN,NaN,NaN,NaN,2006-08-23,23.0,8.0,2006.0,2357093,2357093.0,MACHINE_OBSERVATION,Universidad Austral de Chile,NaN,NaN,NaN,NaN,NaN,CC_BY_4_0,NaN,NaN,NaN,NaN,2025-10-07T15:09:27.463Z,NaN,OCCURRENCE_STATUS_UNPARSABLE;FOOTPRINT_WKT_INV...

# Global Fire Emissions Database (GFED)
https://www.globalfiredata.org/index.html

In [ ]:
! pip install paramiko --quiet

Collecting paramiko
  Downloading paramiko-4.0.0-py3-none-any.whl.metadata (3.9 kB)
Collecting bcrypt>=3.2 (from paramiko)
  Downloading bcrypt-5.0.0-cp39-abi3-manylinux_2_34_x86_64.whl.metadata (10 kB)
Requirement already satisfied: cryptography>=3.3 in /usr/local/lib/python3.12/dist-packages (from paramiko) (43.0.3)
Collecting invoke>=2.0 (from paramiko)
  Downloading invoke-2.2.1-py3-none-any.whl.metadata (3.3 kB)
Collecting pynacl>=1.5 (from paramiko)
  Downloading pynacl-1.6.0-cp38-abi3-manylinux_2_34_x86_64.whl.metadata (9.4 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography>=3.3->paramiko) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography>=3.3->paramiko) (2.23)
Downloading paramiko-4.0.0-py3-none-any.whl (223 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 223.9/223.9 kB 5.1 MB/s eta 0:00:00
Downloading bcrypt-5.0.0-cp39-abi3-manylinux_2_34_x86_64.whl (278 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 278.2/278.2 kB 11.5 MB/s eta 0:00:00
Downloading invoke-2.2.1-py3-none-any.whl (160 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 160.3/160.3 kB 9.8 MB/s eta 0:00:00
Downloading pynacl-1.6.0-cp38-abi3-manylinux_2_34_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 43.5 MB/s eta 0:00:00
Installing collected packages: invoke, bcrypt, pynacl, paramiko
Successfully installed bcrypt-5.0.0 invoke-2.2.1 paramiko-4.0.0 pynacl-1.6.0

In [ ]:
import paramiko

host = "ftp.prd.dip.wur.nl"
port = 1022
username = "sftp0041-1-r"
password = "akU8%S2Fewr!PspDVBqd&s4Y9L&@C9wCd*B"

# connect
transport = paramiko.Transport((host, port))
transport.connect(username=username, password=password)
sftp = paramiko.SFTPClient.from_transport(transport)

# list files in the root directory
for file in sftp.listdir_attr("GFED5/GFED5.1/Daily"):
    print(file.filename)

sftp.close()
transport.close()

GFED5.1_daily_2021-05.nc
GFED5.1_daily_2016-03.nc
GFED5.1_daily_2020-10.nc
GFED5.1_daily_2002-02.nc
GFED5.1_daily_2020-12.nc
GFED5.1_daily_2007-03.nc
GFED5.1_daily_2011-05.nc
GFED5.1_daily_2000-03.nc
GFED5.1_daily_2015-06.nc
GFED5.1_daily_2008-01.nc
GFED5.1_daily_2022-10.nc
GFED5.1_daily_2012-05.nc
GFED5.1_daily_2000-01.nc
GFED5.1_daily_2007-04.nc
GFED5.1_daily_2018-04.nc
GFED5.1_daily_2001-06.nc
GFED5.1_daily_2009-10.nc
GFED5.1_daily_1999-02.nc
GFED5.1_daily_2005-02.nc
GFED5.1_daily_2000-04.nc
GFED5.1_daily_2000-06.nc
GFED5.1_daily_2005-07.nc
GFED5.1_daily_1999-06.nc
GFED5.1_daily_2013-06.nc
GFED5.1_daily_2013-07.nc
GFED5.1_daily_2018-07.nc
GFED5.1_daily_2009-05.nc
GFED5.1_daily_1998-10.nc
GFED5.1_daily_2004-10.nc
GFED5.1_daily_1997-12.nc
GFED5.1_daily_2018-01.nc
GFED5.1_daily_2009-07.nc
GFED5.1_daily_2018-05.nc
GFED5.1_daily_2021-04.nc
GFED5.1_daily_2015-07.nc
GFED5.1_daily_1997-06.nc
GFED5.1_daily_2021-02.nc
GFED5.1_daily_2016-05.nc
GFED5.1_daily_2002-05.nc
GFED5.1_daily_2002-07.nc
GFED5.1_daily_2007-08.nc
GFED5.1_daily_2010-08.nc
GFED5.1_daily_2005-04.nc
GFED5.1_daily_2003-11.nc
GFED5.1_daily_2006-01.nc
GFED5.1_daily_1997-08.nc
GFED5.1_daily_2005-01.nc
GFED5.1_daily_2000-11.nc
GFED5.1_daily_2017-09.nc
GFED5.1_daily_1998-06.nc
GFED5.1_daily_2021-12.nc
GFED5.1_daily_2003-08.nc
GFED5.1_daily_2003-04.nc
GFED5.1_daily_2016-12.nc
GFED5.1_daily_2010-04.nc
GFED5.1_daily_2004-05.nc
GFED5.1_daily_2000-07.nc
GFED5.1_daily_2002-12.nc
GFED5.1_daily_2002-01.nc
GFED5.1_daily_2009-11.nc
GFED5.1_daily_2011-09.nc
GFED5.1_daily_2012-11.nc
GFED5.1_daily_2018-08.nc
GFED5.1_daily_1997-09.nc
GFED5.1_daily_2021-03.nc
GFED5.1_daily_2013-02.nc
GFED5.1_daily_2006-04.nc
GFED5.1_daily_2010-09.nc
GFED5.1_daily_2020-01.nc
GFED5.1_daily_2007-09.nc
GFED5.1_daily_2009-02.nc
GFED5.1_daily_2014-02.nc
GFED5.1_daily_1997-05.nc
GFED5.1_daily_2009-04.nc
GFED5.1_daily_2009-01.nc
GFED5.1_daily_2020-09.nc
GFED5.1_daily_2006-12.nc
GFED5.1_daily_2003-09.nc
GFED5.1_daily_2019-10.nc
GFED5.1_daily_2007-07.nc
GFED5.1_daily_2020-06.nc
GFED5.1_daily_2005-10.nc
GFED5.1_daily_2017-10.nc
GFED5.1_daily_2001-12.nc
GFED5.1_daily_2008-10.nc
GFED5.1_daily_2001-02.nc
GFED5.1_daily_2007-11.nc
GFED5.1_daily_2021-01.nc
GFED5.1_daily_2014-08.nc
GFED5.1_daily_2016-08.nc
GFED5.1_daily_2006-02.nc
GFED5.1_daily_2012-09.nc
GFED5.1_daily_1998-07.nc
GFED5.1_daily_2022-09.nc
GFED5.1_daily_2013-11.nc
GFED5.1_daily_2015-02.nc
GFED5.1_daily_2022-12.nc
GFED5.1_daily_1999-01.nc
GFED5.1_daily_1999-03.nc
GFED5.1_daily_2005-12.nc
GFED5.1_daily_2009-08.nc
GFED5.1_daily_2004-07.nc
GFED5.1_daily_2005-06.nc
GFED5.1_daily_2001-09.nc
GFED5.1_daily_2022-03.nc
GFED5.1_daily_2012-07.nc
GFED5.1_daily_2016-10.nc
GFED5.1_daily_1999-05.nc
GFED5.1_daily_2013-04.nc
GFED5.1_daily_2006-03.nc
GFED5.1_daily_2016-11.nc
GFED5.1_daily_2002-06.nc
GFED5.1_daily_2012-10.nc
GFED5.1_daily_2019-03.nc
GFED5.1_daily_2020-02.nc
GFED5.1_daily_2015-04.nc
GFED5.1_daily_2015-10.nc
GFED5.1_daily_1997-02.nc
GFED5.1_daily_2017-12.nc
GFED5.1_daily_1999-10.nc
GFED5.1_daily_2013-08.nc
GFED5.1_daily_2019-04.nc
GFED5.1_daily_2001-04.nc
GFED5.1_daily_2014-06.nc
GFED5.1_daily_2012-01.nc
GFED5.1_daily_2014-03.nc
GFED5.1_daily_2001-11.nc
GFED5.1_daily_2019-08.nc
GFED5.1_daily_2020-07.nc
GFED5.1_daily_2000-09.nc
GFED5.1_daily_2015-03.nc
GFED5.1_daily_2022-04.nc
GFED5.1_daily_2002-09.nc
GFED5.1_daily_2005-03.nc
GFED5.1_daily_2018-11.nc
GFED5.1_daily_2008-02.nc
GFED5.1_daily_2007-02.nc
GFED5.1_daily_2016-02.nc
GFED5.1_daily_2017-01.nc
GFED5.1_daily_2017-05.nc
GFED5.1_daily_2010-03.nc
GFED5.1_daily_1999-12.nc
GFED5.1_daily_2004-02.nc
GFED5.1_daily_2003-05.nc
GFED5.1_daily_1999-11.nc
GFED5.1_daily_2011-02.nc
GFED5.1_daily_2021-06.nc
GFED5.1_daily_2001-08.nc
GFED5.1_daily_2004-04.nc
GFED5.1_daily_2022-08.nc
GFED5.1_daily_2000-10.nc
GFED5.1_daily_2020-05.nc
GFED5.1_daily_2011-10.nc
GFED5.1_daily_2016-01.nc
GFED5.1_daily_2003-03.nc
GFED5.1_daily_1997-01.nc
GFED5.1_daily_2007-06.nc
GFED5.1_daily_2016-04.nc
GFED5.1_daily_2006-05.nc
GFED5.1_daily_2007-01.nc
GFED5.1_daily_2004-03.nc
GFED5.1_daily_2010-07.nc
GFED5.1_daily_2015-08.nc
GFED5.1_daily_2022-05.nc
GFED5.1_daily_1997-04.nc
GFED5.1_daily_2006-09.nc
GFED5.1_daily_2013-10.nc
GFED5.1_daily_2016-07.nc
GFED5.1_daily_2018-09.nc
GFED5.1_daily_2013-03.nc
GFED5.1_daily_2021-10.nc
GFED5.1_daily_2010-05.nc
GFED5.1_daily_1998-04.nc
GFED5.1_daily_1998-09.nc
GFED5.1_daily_1998-12.nc
GFED5.1_daily_1999-09.nc
GFED5.1_daily_2020-04.nc
GFED5.1_daily_2008-11.nc
GFED5.1_daily_2005-05.nc
GFED5.1_daily_2021-08.nc
GFED5.1_daily_2022-06.nc
GFED5.1_daily_2003-07.nc
GFED5.1_daily_2008-04.nc
GFED5.1_daily_2004-11.nc
GFED5.1_daily_2017-06.nc
GFED5.1_daily_2014-11.nc
GFED5.1_daily_1998-08.nc
GFED5.1_daily_2012-08.nc
GFED5.1_daily_2006-07.nc
GFED5.1_daily_2010-06.nc
GFED5.1_daily_2000-08.nc
GFED5.1_daily_1997-03.nc
GFED5.1_daily_2018-10.nc
GFED5.1_daily_2009-09.nc
GFED5.1_daily_2009-06.nc
GFED5.1_daily_2019-12.nc
GFED5.1_daily_2011-12.nc
GFED5.1_daily_2003-01.nc
GFED5.1_daily_2022-07.nc
GFED5.1_daily_2014-01.nc
GFED5.1_daily_2022-02.nc
GFED5.1_daily_1997-11.nc
GFED5.1_daily_1999-04.nc
GFED5.1_daily_2010-02.nc
GFED5.1_daily_2000-02.nc
GFED5.1_daily_2014-07.nc
GFED5.1_daily_2013-12.nc
GFED5.1_daily_2014-12.nc
GFED5.1_daily_2011-03.nc
GFED5.1_daily_2008-06.nc
GFED5.1_daily_2013-05.nc
GFED5.1_daily_2019-06.nc
GFED5.1_daily_2016-06.nc
GFED5.1_daily_2021-07.nc
GFED5.1_daily_2020-03.nc
GFED5.1_daily_2006-10.nc
GFED5.1_daily_2000-12.nc
GFED5.1_daily_2001-10.nc
GFED5.1_daily_2020-11.nc
GFED5.1_daily_2004-09.nc
GFED5.1_daily_2007-10.nc
GFED5.1_daily_2012-12.nc
GFED5.1_daily_2004-06.nc
GFED5.1_daily_2019-07.nc
GFED5.1_daily_2018-06.nc
GFED5.1_daily_2017-03.nc
GFED5.1_daily_2016-09.nc
GFED5.1_daily_2018-12.nc
GFED5.1_daily_2018-02.nc
GFED5.1_daily_2014-04.nc
GFED5.1_daily_2010-01.nc
GFED5.1_daily_2004-12.nc
GFED5.1_daily_2011-08.nc
GFED5.1_daily_2008-05.nc
GFED5.1_daily_2021-09.nc
GFED5.1_daily_2007-05.nc
GFED5.1_daily_2002-10.nc
GFED5.1_daily_2017-11.nc
GFED5.1_daily_2015-05.nc
GFED5.1_daily_2017-04.nc
GFED5.1_daily_2008-09.nc
GFED5.1_daily_2002-11.nc
GFED5.1_daily_2002-08.nc
GFED5.1_daily_2012-03.nc
GFED5.1_daily_2010-10.nc
GFED5.1_daily_2005-09.nc
GFED5.1_daily_1998-11.nc
GFED5.1_daily_2022-11.nc
GFED5.1_daily_2000-05.nc
GFED5.1_daily_2004-08.nc
GFED5.1_daily_2006-08.nc
GFED5.1_daily_1998-01.nc
GFED5.1_daily_2015-12.nc
GFED5.1_daily_2001-01.nc
GFED5.1_daily_1997-07.nc
GFED5.1_daily_2021-11.nc
GFED5.1_daily_2017-02.nc
GFED5.1_daily_2010-11.nc
GFED5.1_daily_2014-09.nc
GFED5.1_daily_2020-08.nc
GFED5.1_daily_2014-10.nc
GFED5.1_daily_2015-09.nc
GFED5.1_daily_2011-01.nc
GFED5.1_daily_2003-12.nc
GFED5.1_daily_2015-01.nc
GFED5.1_daily_2011-11.nc
GFED5.1_daily_2005-11.nc
GFED5.1_daily_2009-03.nc
GFED5.1_daily_2012-06.nc
GFED5.1_daily_2014-05.nc
GFED5.1_daily_1997-10.nc
GFED5.1_daily_2001-07.nc
GFED5.1_daily_2001-05.nc
GFED5.1_daily_2007-12.nc
GFED5.1_daily_2008-03.nc
GFED5.1_daily_2019-09.nc
GFED5.1_daily_2005-08.nc
GFED5.1_daily_1998-03.nc
GFED5.1_daily_2003-06.nc
GFED5.1_daily_2017-08.nc
GFED5.1_daily_1998-02.nc
GFED5.1_daily_2019-11.nc
GFED5.1_daily_2001-03.nc
GFED5.1_daily_2011-06.nc
GFED5.1_daily_2006-11.nc
GFED5.1_daily_2003-10.nc
GFED5.1_daily_2012-04.nc
GFED5.1_daily_2019-05.nc
GFED5.1_daily_2019-02.nc
GFED5.1_daily_2019-01.nc
GFED5.1_daily_2022-01.nc
GFED5.1_daily_2013-09.nc
GFED5.1_daily_1999-08.nc
GFED5.1_daily_2011-04.nc
GFED5.1_daily_2004-01.nc
GFED5.1_daily_1998-05.nc
GFED5.1_daily_1999-07.nc
GFED5.1_daily_2002-04.nc
GFED5.1_daily_2006-06.nc
GFED5.1_daily_2017-07.nc
GFED5.1_daily_2008-07.nc
GFED5.1_daily_2003-02.nc
GFED5.1_daily_2012-02.nc
GFED5.1_daily_2015-11.nc
GFED5.1_daily_2002-03.nc
GFED5.1_daily_2009-12.nc
GFED5.1_daily_2013-01.nc
GFED5.1_daily_2008-08.nc
GFED5.1_daily_2008-12.nc
GFED5.1_daily_2011-07.nc
GFED5.1_daily_2018-03.nc
GFED5.1_daily_2010-12.nc

In [ ]:
# Connect
transport = paramiko.Transport((host, port))
transport.connect(username=username, password=password)
sftp = paramiko.SFTPClient.from_transport(transport)

# Download the file
remote_path = "GFED5/Readme.txt"
local_path = "Readme.txt"
sftp.get(remote_path, local_path)

print("Download complete!")

sftp.close()
transport.close()

Download complete!

In [ ]:
# Connect
transport = paramiko.Transport((host, port))
transport.connect(username=username, password=password)
sftp = paramiko.SFTPClient.from_transport(transport)

# Download the file
remote_path = "GFED5/GFED5.1/Ecosystem/GFED5.1_ecosystem_2009.nc"
local_path = "GFED5.1_ecosystem_2009.nc"
sftp.get(remote_path, local_path)

print("Download complete!")

sftp.close()
transport.close()

Download complete!

In [ ]:
# Connect
transport = paramiko.Transport((host, port))
transport.connect(username=username, password=password)
sftp = paramiko.SFTPClient.from_transport(transport)

# Download the file
remote_path = "GFED5/GFED5.1/Daily/GFED5.1_daily_2021-05.nc"
local_path = "GFED5.1_daily_2021-05.nc"
sftp.get(remote_path, local_path)

print("Download complete!")

sftp.close()
transport.close()

Download complete!

In [ ]:
import xarray as xr
import pandas as pd

# Open the NetCDF file
ds = xr.open_dataset("GFED5.1_ecosystem_2009.nc")

# Inspect the dataset structure
print(ds)

# ds_slice = ds.sel(time=slice("2000-01-01", "2001-12-31"))
df = ds.to_dataframe().reset_index()
df

<xarray.Dataset> Size: 105MB
Dimensions:           (lat: 720, lon: 1440, time: 12)
Coordinates:
  * lat               (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.62 89.88
  * lon               (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.6 179.9
  * time              (time) datetime64[ns] 96B 2009-01-01T01:00:00 ... 2009-...
Data variables:
    basis_regions     (lat, lon) int8 1MB ...
    grid_area         (lat, lon) float32 4MB ...
    burned_area       (time, lat, lon) float32 50MB ...
    carbon_emissions  (time, lat, lon) float32 50MB ...
Attributes:
    title:                GFED5.1 ecosystem files monthly 2009
    subtitle:             Global Fire Emissions Database (GFED) version 5.1 m...
    creation_date:        2025-08-31 14:45:31 UTC
    license:              Data in this file is licensed under a Creative Comm...
    region:               Global
    spatial_resolution:   0.25x0.25 degree
    temporal_resolution:  Month
    institution:          Wageningen Univerity & Research, and University of ...
    contact:              Guido van der Werf (guido.vanderwerf@wur.nl), Yang ...

,lat,lon,time,basis_regions,grid_area,burned_area,carbon_emissions
0,-89.875,-179.875,2009-01-01 01:00:00,0,1931952.625,0.0,0.0
1,-89.875,-179.875,2009-02-01 01:00:00,0,1931952.625,0.0,0.0
2,-89.875,-179.875,2009-03-01 01:00:00,0,1931952.625,0.0,0.0
3,-89.875,-179.875,2009-04-01 01:00:00,0,1931952.625,0.0,0.0
4,-89.875,-179.875,2009-05-01 01:00:00,0,1931952.625,0.0,0.0
...,...,...,...,...,...,...,...
12441595,89.875,179.875,2009-08-01 01:00:00,0,1931952.625,0.0,0.0
12441596,89.875,179.875,2009-09-01 01:00:00,0,1931952.625,0.0,0.0
12441597,89.875,179.875,2009-10-01 01:00:00,0,1931952.625,0.0,0.0
12441598,89.875,179.875,2009-11-01 01:00:00,0,1931952.625,0.0,0.0
12441599,89.875,179.875,2009-12-01 01:00:00,0,1931952.625,0.0,0.0

In [ ]:
import xarray as xr
import pandas as pd
pd.set_option('display.max_columns', None)

# Open the NetCDF file
ds = xr.open_dataset("GFED5.1_daily_2021-05.nc")

# Inspect the dataset structure
print(ds)

# ds_slice = ds.sel(time=slice("2000-01-01", "2001-12-31"))
df = ds.to_dataframe().reset_index()
df

<xarray.Dataset> Size: 5GB
Dimensions:         (time: 31, lat: 720, lon: 1440)
Coordinates:
  * time            (time) datetime64[ns] 248B 2021-05-01T01:00:00 ... 2021-0...
  * lat             (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.38 89.62 89.88
  * lon             (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
Data variables: (12/40)
    DM              (time, lat, lon) float32 129MB ...
    C               (time, lat, lon) float32 129MB ...
    CO2             (time, lat, lon) float32 129MB ...
    CO              (time, lat, lon) float32 129MB ...
    CH4             (time, lat, lon) float32 129MB ...
    NMOC_g          (time, lat, lon) float32 129MB ...
    ...              ...
    HCN             (time, lat, lon) float32 129MB ...
    HCOOH           (time, lat, lon) float32 129MB ...
    CH3COOH         (time, lat, lon) float32 129MB ...
    MEK             (time, lat, lon) float32 129MB ...
    CH3COCHO        (time, lat, lon) float32 129MB ...
    HOCH2CHO        (time, lat, lon) float32 129MB ...
Attributes:
    title:                GFED5.1 daily 2021-05
    subtitle:             Global Fire Emissions Database (GFED) extension ver...
    creation_date:        2025-08-30 23:25:04 UTC
    license:              Data in this file is licensed under a Creative Comm...
    region:               Global
    spatial_resolution:   0.25x0.25 degree
    temporal_resolution:  Day
    institution:          Wageningen Univerity & Research, and University of ...
    contact:              Guido van der Werf (guido.vanderwerf@wur.nl), Yang ...

,time,lat,lon,DM,C,CO2,CO,CH4,NMOC_g,H2,NOx,N2O,PM2.5,TPC,OC,BC,SO2,C2H6,CH3OH,C2H5OH,C3H8,C2H2,C2H4,C3H6,C5H8,C10H16,C7H8,C6H6,C8H10,Toluene_Lump,Higher_Alkenes,Higher_Alkanes,CH2O,C2H4O,C3H6O,NH3,C2H6S,HCN,HCOOH,CH3COOH,MEK,CH3COCHO,HOCH2CHO
0,2021-05-01 01:00:00,-89.875,-179.875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2021-05-01 01:00:00,-89.875,-179.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021-05-01 01:00:00,-89.875,-179.375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021-05-01 01:00:00,-89.875,-179.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021-05-01 01:00:00,-89.875,-178.875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32140795,2021-05-31 01:00:00,89.875,178.875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32140796,2021-05-31 01:00:00,89.875,179.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32140797,2021-05-31 01:00:00,89.875,179.375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32140798,2021-05-31 01:00:00,89.875,179.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32140799,2021-05-31 01:00:00,89.875,179.875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.mean()

time              2021-05-16 00:59:59.999963904
lat                                         0.0
lon                                         0.0
DM                                    9257444.0
C                                     4374237.0
CO2                                  15008937.0
CO                                   646809.875
CH4                                21774.109375
NMOC_g                              145908.0625
H2                                 17315.945312
NOx                                32033.255859
N2O                                 1528.771729
PM2.5                              72216.726562
TPC                                39469.371094
OC                                   36051.5625
BC                                  3414.720703
SO2                                 8143.393066
C2H6                                6497.313965
CH3OH                              13478.182617
C2H5OH                                1996.1073
C3H8                                1572.161987
C2H2                                2521.208496
C2H4                                 9298.62793
C3H6                                6625.825684
C5H8                                1189.107544
C10H16                              4567.113281
C7H8                                 2176.34668
C6H6                                2703.458496
C8H10                                415.700684
Toluene_Lump                        4851.518555
Higher_Alkenes                      1677.007568
Higher_Alkanes                       823.198853
CH2O                               12834.196289
C2H4O                              15275.578125
C3H6O                               4361.911133
NH3                                  7856.63623
C2H6S                                112.987206
HCN                                 4480.779297
HCOOH                               3064.434814
CH3COOH                            33080.773438
MEK                                  1591.42395
CH3COCHO                            5894.075684
HOCH2CHO                            8555.665039
dtype: object

# Danaus plexippus (Monarch Butterfly)

GBIF has data by species, see https://www.gbif.org/species/5133088.

Also see this Monarch Database Resource Guide https://monarchjointventure.org/mjvprograms/science/monarch-research/monarch-database-resource-guide

In [1]:
! wget https://api.gbif.org/v1/occurrence/download/request/0023328-251025141854904.zip

--2025-11-08 23:19:01--  https://api.gbif.org/v1/occurrence/download/request/0023328-251025141854904.zip
Resolving api.gbif.org (api.gbif.org)... 130.225.43.2
Connecting to api.gbif.org (api.gbif.org)|130.225.43.2|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://occurrence-download.gbif.org/occurrence/download/request/0023328-251025141854904.zip [following]
--2025-11-08 23:19:02--  https://occurrence-download.gbif.org/occurrence/download/request/0023328-251025141854904.zip
Resolving occurrence-download.gbif.org (occurrence-download.gbif.org)... 130.225.43.36
Connecting to occurrence-download.gbif.org (occurrence-download.gbif.org)|130.225.43.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/octet-stream]
Saving to: ‘0023328-251025141854904.zip’

0023328-25102514185     [         <=>        ]  51.30M  25.4MB/s    in 2.0s

2025-11-08 23:19:04 (25.4 MB/s) - ‘0023328-251025141854904.zip’ saved [53791797]

In [2]:
! unzip 0023328-251025141854904.zip

Archive:  0023328-251025141854904.zip
  inflating: 0023328-251025141854904.csv

In [7]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [8]:
df = pd.read_csv("0023328-251025141854904.csv", sep="\t")
print(df.shape)
df.head()

/tmp/ipython-input-1134123649.py:1: DtypeWarning: Columns (10,14,16,29,38,39,40,41,43,45,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("0023328-251025141854904.csv", sep="\t")

(732753, 50)

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,infraspecificEpithet,taxonRank,scientificName,verbatimScientificName,verbatimScientificNameAuthorship,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2972208867,ce8530a2-cd4b-4e51-9927-76bf49b5a9a6,CCW0006600006KC9,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Danaus,Danaus plexippus,NaN,SPECIES,"Danaus plexippus (Linnaeus, 1758)",Danaus plexippus,"(Linnaeus, 1758)",GB,Aberdyfi,Wales,PRESENT,2.0,ee45975b-3d89-42b5-ac7a-c03f47b6dcb4,52.548164,-4.073488,707.1,NaN,NaN,NaN,NaN,NaN,1935,NaN,NaN,1935.0,5133088,5133088,HUMAN_OBSERVATION,NRW,CCW0006600000007,NaN,NaN,E.F. Gilmour,NaN,CC_BY_4_0,Natural Resources Wales,"Gilmour, E.F.",NaN,NaN,2025-11-04T21:36:14.638Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_CONCE...
1,2973277775,ce8530a2-cd4b-4e51-9927-76bf49b5a9a6,CCW0006600007KUU,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Danaus,Danaus plexippus,NaN,SPECIES,"Danaus plexippus (Linnaeus, 1758)",Danaus plexippus,"(Linnaeus, 1758)",GB,Penmaenpool,Wales,PRESENT,1.0,ee45975b-3d89-42b5-ac7a-c03f47b6dcb4,52.715766,-3.999998,7071.1,NaN,NaN,NaN,NaN,NaN,1981-10-04,4.0,10.0,1981.0,5133088,5133088,HUMAN_OBSERVATION,NRW,CCW0006600000007,NaN,NaN,D.W. Kydd,NaN,CC_BY_4_0,Natural Resources Wales,"Kydd, D.W.",NaN,NaN,2025-11-04T21:36:14.638Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_CONCE...
2,2973322585,ce8530a2-cd4b-4e51-9927-76bf49b5a9a6,CCW0006600008XC8,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Danaus,Danaus plexippus,NaN,SPECIES,"Danaus plexippus (Linnaeus, 1758)",Danaus plexippus,"(Linnaeus, 1758)",GB,Nash Point,Wales,PRESENT,1.0,ee45975b-3d89-42b5-ac7a-c03f47b6dcb4,51.405115,-3.561262,707.1,NaN,NaN,NaN,NaN,NaN,2001-10-12,12.0,10.0,2001.0,5133088,5133088,HUMAN_OBSERVATION,NRW,CCW000660000000A,NaN,NaN,E. & M. Cram,NaN,CC_BY_4_0,Natural Resources Wales,"Cram, E.;Cram, M.",NaN,NaN,2025-11-04T21:36:14.638Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_ID_NO...
3,2973162964,ce8530a2-cd4b-4e51-9927-76bf49b5a9a6,CCW00066000076KQ,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Danaus,Danaus plexippus,NaN,SPECIES,"Danaus plexippus (Linnaeus, 1758)",Danaus plexippus,"(Linnaeus, 1758)",GB,Llanerchydol Hall,Wales,PRESENT,1.0,ee45975b-3d89-42b5-ac7a-c03f47b6dcb4,52.659370,-3.176809,707.1,NaN,NaN,NaN,NaN,NaN,1971-09-03,3.0,9.0,1971.0,5133088,5133088,HUMAN_OBSERVATION,NRW,CCW0006600000007,NaN,NaN,D. Verdon,NaN,CC_BY_4_0,Natural Resources Wales,"Verdon, D.",NaN,NaN,2025-11-04T21:36:14.638Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_ID_NO...
4,2973310022,ce8530a2-cd4b-4e51-9927-76bf49b5a9a6,CCW000660000AUIH,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Danaus,Danaus plexippus,NaN,SPECIES,"Danaus plexippus (Linnaeus, 1758)",Danaus plexippus,"(Linnaeus, 1758)",GB,Llanbadarn Fawr,Wales,PRESENT,1.0,ee45975b-3d89-42b5-ac7a-c03f47b6dcb4,52.404675,-4.052049,707.1,NaN,NaN,NaN,NaN,NaN,1932-09-15,15.0,9.0,1932.0,5133088,5133088,HUMAN_OBSERVATION,NRW,CCW0006600000009,NaN,NaN,John Salter,NaN,CC_BY_4_0,Natural Resources Wales,"Salter, J. John",NaN,NaN,2025-11-04T21:36:14.638Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_CONCE...

In [15]:
# 50c9509d-22c7-4a22-a47d-8c48425ef4a7
100 * df["datasetKey"].value_counts(normalize=True)

datasetKey
cf7d6c01-309b-4545-8319-3d53b1e8bfd0    49.618630
50c9509d-22c7-4a22-a47d-8c48425ef4a7    41.482601
cf3bdc30-370c-48d3-8fff-b587a39d72d6     3.871700
8a863029-f435-446a-821e-275f4f641165     1.042370
6dc35c87-ff97-4708-9e45-6f764ddc1ef3     0.961579
                                          ...
8441659c-f762-11e1-a439-00145eb45e9a     0.000136
3c9edd15-0c58-4964-9b5b-9502e4bd7ee6     0.000136
8453c408-f762-11e1-a439-00145eb45e9a     0.000136
bbee118c-a50e-4f7f-bca1-d5bfefc5360b     0.000136
c53a27b8-d019-460e-8124-662b6fa14d85     0.000136
Name: proportion, Length: 313, dtype: float64

# Movebank's data repository!
https://datarepository.movebank.org/home